<?xml version="1.0" encoding="UTF-8"?>

<configuration>

   <appender name="SYSTEM" class="ch.qos.logback.core.ConsoleAppender">
      <layout class="ch.qos.logback.classic.PatternLayout">
         <Pattern>%-5level[%date{HH:mm:ss.SSS}]{%thread}\(%C{0}.%M:%L\)-%message%n
         </Pattern>
      </layout>
   </appender>

   <appender name="USER" class="ch.qos.logback.core.ConsoleAppender">
      <layout class="ch.qos.logback.classic.PatternLayout">
         <Pattern>%message%n</Pattern>
      </layout>
   </appender>

   <logger name="org.diffkit.db.DKDBInsertTableLoader">
      <level value="warn" />
   </logger>
   <logger name="org.diffkit">
      <level value="warn" />
   </logger>
   
   <logger name="user" additivity="false">
      <level value="info" />
      <appender-ref ref="USER" />
   </logger>

	<root level="warn">
		<appender-ref ref="SYSTEM" />
	</root>
</configuration>
